<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="/static/css/main.css" rel="stylesheet"> 
    <title>Minecraft PFP Generator</title>
    <script>
        // Extend Tailwind's default configuration to include your custom font
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        'minecraft': ['Minecraftia', 'sans-serif'],
                    }
                }
            }
        }
    </script>

    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/logo_square.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/img/logo_square.png">
    <meta content="Minecraft PFP Generator" property="og:title">
    <meta content="A profile picture for your Minecraft avatar! Specifically your head." property="og:description">
    <meta content="https://pfps.uhalexz.xyz" property="og:url">
    <meta content="https://pfps.uhalexz.xyz/static/img/logo_square.png" property="og:image">
    <meta content="#22c55e" data-react-helmet="true" name="theme-color">

</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100 bg-[url('/static/img/background.png')] bg-cover bg-center">
    
    <main class="flex items-center justify-center text-center m-4">
        <div class="bg-white p-8 rounded-md drop-shadow-xl shadow-sm">
            <h1 class="text-black font-minecraft text-2xl text-left">Generate a PFP!</h1>
            <h2 class="text-gray-600 text-left">Choose a gradient and enter your username to begin the generation proccess!</h2>
            <br/>
            <h3 class="text-black font-bold text-left">Select your first color</h3>
            <input type="color" id="color1" value="#ffffff" class="w-[25%] block">
            &nbsp;
            <h3 class="text-black font-bold text-left">Select your second color</h3>
            <input type="color" id="color2" value="#ffffff" class="w-[25%] block">
            &nbsp;
            <h3 class="text-black font-bold text-left mb-2">Enter your username</h3>
            <input type="text" id="username" placeholder="Enter Username" class="w-[25%] block bg-gray-400 rounded-lg text-gray-700 focus:outline-none focus:bg-gray-300 transition-color duration-500 pl-2 pt-1 pb-1">
            <button id="generateBTN" class="bg-green-500 text-white rounded-xl p-2 hover:bg-green-700 block mt-2 transition-color duration-500">
                Submit & Generate!
            </button>
            <canvas id="gradientCanvas" width="400" height="400" class="hidden mt-4"></canvas>
            <a id="downloadBTN" class="bg-green-500 text-white rounded-xl p-2 hover:bg-green-700 mt-2 transition-color duration-500 hidden" download>
                Download!
            </a>
        </div>
    </main>
    
    <script src="/static/js/main.js"></script>
</body>
</html>
